<doctype html>
<html>
 <head>
   <title>first haml</title>
   <link rel="stylesheet" href="css/style.css">
   <script type="javascript" src="js/custom.js"></script>
 </head>
 <body>
   <header style="background-color:#000">
     <a href="#" title="logo">
       <img src="https://s0.2mdn.net/9093978/Cybersecurity_728x90_JPMC.jpg" alt="logo">
     </a>
     <ul class="list">
         <li>home</li>
         <li>about</li>
         <li>service</li>
         <li>booking</li>
         <li>all</li>
       </ul>
     <button type="button">Click Me!</button>
     <table>
       <thead>
         <th>hj</th>
         <th>h</th>
         <th>hyt</th>
       </thead>
       <tbody>
         <tr>
          <td>g</td>
          <td>g</td>
          <td>g</td>
         </tr>
         <tr>
<td>g</td>
          <td>g</td>
          <td>g</td>
</tr>
         <tr>
<td>g</td>
          <td>g</td>
          <td>g</td></tr>
       </tbody>
     </table>

   </header>
 </body>
</html>